# Dev
scripts/
README-dev.md
run

# Github
.github/

# VSCode
.vscode/
.lh/
.history/
.vsfavorite

# Env
.env
.env.local

# Bun
bun-debug.log
bun.lock

# Node.js
node_modules/

# Next.js
/.next/
/out/
next-env.d.ts

# TypeScript
*.tsbuildinfo

# Lock files
*.lock
package-lock.json

# Playwright
/test-results/
/playwright-report/
/playwright/.cache/
/tests/.auth/

# Prisma
generated/
generated/prisma
migration_lock.toml

# Storybook
*storybook.log
storybook-static

# Other
public/
.vscode/private-folder-alias.json
