# Github
.github/

# VSCode
.vscode/
.lh/
.history/
.vsfavorite

# Env
.env
.env.local

# Node
node_modules/

bun-debug.log
bun.lock

/.next/
/out/
next-env.d.ts

*.lock
package-lock.json

*.tsbuildinfo

# Playwright
/test-results/
/playwright-report/
/playwright/.cache/
/.playwright-mcp/

# Storybook
*storybook.log
storybook-static

# Immerse
public/

# AI (Shameless!)
AGENTS.md
CLAUDE.md
.clautana/
.coding/